<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:300&display=swap"
      rel="stylesheet"
    />
    <title>Talpor Notes App</title>
    <style>
      body {
        font-family: "Raleway", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        color: #b9b9b9;
      }

      p {
        font-size: 2rem;
        margin: 0.25rem;
        text-transform: uppercase;
      }

      .wrapper {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <p>Talpor Notes App</p>
      <p>(Backend)</p>
    </div>
  </body>
</html>
