nav.navbar {
  display: flex;
  justify-content: center;
}

nav .navbar__nav {
  padding: 0;
  display: inline-flex;
}

nav .navbar__nav__nav-item {
  margin: 0 0.5rem;
  list-style: none;
  list-style-type: none;
}

nav .navbar__nav__nav-item a {
  color: white;
}
