.notes.list .empty {
  text-align: center;
}

.notes.list .add {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}

.notes.list .add h1 {
  margin: 0.5rem 0;
}

.notes.list .add .btn {
  justify-self: right;
  width: max-content;
  height: min-content;
}
